

<form method="get">

    <div class="form-group">
        <input type="text" class="form-control" name="query" id="searchText" placeholder="Search..." />
    </div>

    <div class="form-check">
        <label class="form-check-label">Clients</label>
        <input class="form-check-input" name="option" type="radio" id="clients" value="clients" />

        <label class="form-check-label">Employees</label>
        <input class="form-check-input" name="option" type="radio" id="employees" value="employees" />

        <label class="radio-check-label">Cars</label>
        <input class="form-check-input" name="option" type="radio" id="cars" value="cars" />

        <label class="form-check-label">Repairs</label>
        <input class="form-check-input" name="option" type="radio" id="repairs" value="repairs" />
    </div>

    <div>
        <label class="form-check-label">Include Inactive</label>
        <input type="checkbox" name="inactive" id="inactive" value="true" />
    </div>

    <div>
        <button class="btn btn-success" name="search">Search</button>
    </div>

</form>

<div>
@await Component.InvokeAsync("ClientList", new { query = "test", inactive = false })
</div>