@model CarWorkshop.Infrastructure.DTO.ClientDTO
@{
    ViewData["Title"] = "Test Client Page";
}

<div class="container">
    <h1>Search results</h1>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
                <td>@Html.DisplayFor(model => model.EmailAddress)</td>
                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
            </tr>
        </tbody>
    </table>
</div>