@model CarWorkshop.Web.Models.ClientSearchViewModel
<form asp-controller="Client" asp-action="GetClient" method="get">
    <p>
        ID: @Html.TextBoxFor(model => model.Id)
        email: @Html.TextBoxFor(model => model.Email)
        <input type="submit" value="Search" />
    </p>   
</form>
