@model CarWorkshop.Infrastructure.DTO.CarDTO

<form method="post" asp-controller="Car" asp-action="Edit">

    <div class="form-group">
        <label asp-for="Brand">Brand</label>
        <input class="form-control" asp-for="Brand" />
        <span asp-validation-for="Brand"></span>
    </div>

    <div class="form-group">
        <label asp-for="CarModel">CarModel</label>
        <input class="form-control" asp-for="CarModel" />
        <span asp-validation-for="CarModel"></span>
    </div>

    <div class="form-group">
        <label asp-for="RegistrationNumber">RegistrationNumber</label>
        <input class="form-control" asp-for="RegistrationNumber" />
        <span asp-validation-for="RegistrationNumber"></span>
    </div>

    <div>
        <input type="hidden" asp-for="CarId" />
        <input type="hidden" asp-for="ClientId" />
    </div>

    <div>
        <input class="btn btn-success" type="submit" value="Update Information" />
    </div>

</form>