
<form method="get" asp-controller="Search" asp-action="Index">

    <div class="form-group">
        <input type="text" class="form-control" name="query" id="searchText" placeholder="Search..." />
    </div>

    <div class="form-check">
        <label class="form-check-label">Clients</label>
        <input class="form-check-input" name="option" type="radio" id="clients" value="ClientList" />

        <label class="form-check-label">Employees</label>
        <input class="form-check-input" name="option" type="radio" id="employees" value="EmployeeList" />

        <label class="radio-check-label">Cars</label>
        <input class="form-check-input" name="option" type="radio" id="cars" value="CarList" />

        <label class="form-check-label">Repairs</label>
        <input class="form-check-input" name="option" type="radio" id="repairs" value="RepairList" />
    </div>

    <div>
        <label class="form-check-label">Include Inactive</label>
        <input type="checkbox" name="inactive" id="inactive" value="true" />
    </div>

    <div>
        <input type="submit" value="Search" class="btn btn-success" />
    </div>

</form>

<div id="container">
    @if (ViewData["ViewComponent"] != null)
    {
        @await Component.InvokeAsync(ViewData["ViewComponent"].ToString(), new { query = ViewData["Query"], inactive = ViewData["Inactive"], carId = 0 })
    }
    @if (ViewData["WrongOption"] != null)
    {
        <h1>@ViewData["WrongOption"]</h1>
    }
</div>
