<form method="get" asp-controller="Search" asp-action="Index">

    <div class="form-check">
        <div style="display: block">
            <label class="form-check-label">Clients</label>
            <input class="form-check-input" name="option" type="radio" id="clients" value="ClientList" />
        </div>

        <div style="display: block">
            <label class="form-check-label">Employees</label>
            <input class="form-check-input" name="option" type="radio" id="employees" value="EmployeeList" />
        </div>

        <div style="display: block">
            <label class="radio-check-label">Cars</label>
            <input class="form-check-input" name="option" type="radio" id="cars" value="CarList" />
        </div>

        <div style="display: block">
            <label class="form-check-label">Repairs</label>
            <input class="form-check-input" name="option" type="radio" id="repairs" value="RepairList" />
        </div>
    </div>
    <div>
        <label class="form-check-label">Include Inactive</label>
        <input type="checkbox" name="inactive" id="inactive" value="true" />
    </div>

    <div>
        <input type="submit" value="Show" class="btn btn-success" />
    </div>

</form>

<div id="container">
    @if (ViewData["ViewComponent"] != null)
    {
        @await Component.InvokeAsync(ViewData["ViewComponent"].ToString(), new { inactive = ViewData["Inactive"] })
    }
    @if (ViewData["WrongOption"] != null)
    {
        <h1>@ViewData["WrongOption"]</h1>
    }
</div>
