@model CarWorkshop.Web.Models.LogInViewModel
@{
    ViewData["Title"] = "Sign in";
}

<form method="post" asp-controller="Account" asp-action="LogIn">

    <div>
        <label asp-for="EmailAddress">Email</label>
        <input asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input type="submit" value="Sign In" />
    </div>
</form>